SERVER_PORT=8083

DATABASE_URL=jdbc:postgresql://localhost:5432/notifications_db
DATABASE_USER=solutis
DATABASE_PASSWORD=solutis

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=solutis
RABBITMQ_PASSWORD=solutis
